
/* navbar start */
nav  ul{
  float: right;
  margin: 18px;
}
nav {
  background-color: black;
  height: 70px;
}
.logo {
  float: left;
  font-size: 40px;
  font-weight: 900;
  color: greenyellow;
  margin-left: 20px;
}
  .ative{
  color: greenyellow !important;
  margin: 20px;
  font-size: larger;
  font-weight: 600;
} 
.normal{
  color: white !important;
  margin: 20px;
  font-size: larger;
  font-weight: 600; 
} 
/* navbar end */

.c-item {
  height: 580px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness();
}

